<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
 <%- include('./partials/nav.ejs') %> 
   
   <div class="blogs contain">
    <h2>About us</h2>
   </div>
   <%- include('./partials/footer.ejs')  %> 
 
</body>
</html>